<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Card</title>
    <link rel="stylesheet" href=/static/css/player.css>
</head>
<body>
    <h1>player profil</h1>
    <div class="playerCard">
        <div class="player">
            <img src=" <%= player.playerImg %>" alt="player Picture">
            <p><%= player.name %></p>
        </div>
        <div class="nationality">
            <p><%= player.nationality %></p>
            <img src=" <%= player.flagImg %>" alt="">
        </div>
        <div class="club">
            <p><%= player.club %></p>
            <img src=" <%= player.clubImg %>" alt="">
        </div>
        <p class="overallRating"><%= player.overallRating %></p>

    </div>
    <h2>Hi, I am <%= player.name %></h2>

</body>
</html>