<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Card</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href=/static/css/player.css>
</head>
<body class="bg-black w-screen h-screen">
    <div id="playersContainer" class="w-full flex flex-col items-center">
    <h1 class="font-sans hover:font-serif">player profil</h1>
    <div class="playerCard flex flex-col items-center bg-[#1e293b] text-[#e2e8f0] w-4/5 m-1 rounded-md" >
        <span class="hidden"><%= player.playerId %></span>

        <div class="player ">
            <img src=" <%= player.playerImg %>" alt="player Picture">
            <p class="text-center"><%= player.name %></p>
        </div>
        <div class="nationality flex ">
            <p><%= player.nationality %></p>
            <img src=" <%= player.flagImg %>" alt="">
        </div>
        <div class="club flex items-center ">
            <p><%= player.club %></p>
            <img class="w-10" src=" <%= player.clubImg %>" alt="">
        </div>
        <p class="overallRating text-center "><%= player.overallRating %></p>

    </div>
</div>
    

</body>
</html>